.dragItem .iconGroup{
  visibility: hidden;
}
.dragItem:hover .iconGroup{
  visibility: visible;
}
.clearfix{
  zoom: 1;
}
.clearfix::after{
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
