.clearfix{
  zoom: 1;
}
.clearfix::after{
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.listItem:hover{
  border: 1px solid #1890ff !important;
}
.ant-descriptions-bordered .ant-descriptions-item-label{
  width: 100px !important;
}
